Babel
click
filelock
Flask
jinja2
jsonschema
pydantic<2.0
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely
SQLAlchemy
tinydb
geoalchemy2
psycopg2
# dokanalyse @ git+https://github.com/kartverket/DOK.Arealanalyse.Process@main